@model IEnumerable<GroupCoursework.Models.DVDTitle>

@{
    ViewData["Title"] = "Index";
}

<style>
p .create{
    color: white;
    margin-left: 10px;
    font-size: 25px;
}
th{
    color:white;
}

td{
    color: white;
}

td a{
    color: white;
}

.container .card{
    margin-top: 20%;
}
</style>

<div class="container">
<div class="card" style="background-color:#121212; opacity:70%;">
<p>
    <a asp-action="Create" class="create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DvdTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyCharge)
            </th>
       @*    <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DvdTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCharge)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.DVDNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DVDNumber">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
</div>
</div>