@{
    ViewData["Title"] = "GetActorCopy";
}
<style>
body{
background-image:url("../images/loan.jpg");
background-repeat:no-repeat;
background-size:cover;
}
th{
    color:white;
}
</style>
<body>

<h1 class="text-center" style="font-weight:800; color:white; text-shadow: 0 0 7px black; margin-top: 5px;">View the titles and number of copies</h1>

<div class="container">
    <form action="@Url.Action("GetActorCopy", "User")" method="get">
        <div class="row">
                <div class="input-group">
                    <label for="ActorSurName" class="control-label"></label>
                    <select id="actorID" name="actorID" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a actor surname</option>
                        @foreach (var name in ViewBag.actorName)
                        {
                            <option value="@name.ActorNumber"> @name.ActorFirstName @name.ActorSurname</option>
                        }
                    </select>

            <div class="input-group-append">
                        <button type="submit" style="background-color: #205375; border:#F2D8B3; color: white; height:39px;">Search</button>
                    </div>
                </div>
               </div>
    </form>
</div>
<br />

<div class="container">
<div class="card" style="background-color:#A96536; opacity:70%;">

<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>DVD Title Name</th>
            <th>No of copies on shelves</th>
        </tr>
    </thead>
    <tbody>
          @foreach (var item in ViewBag.name)
        {
            var StockLeft = @item.Stock - @item.LoanCount;
            <tr>
                <td>@item.DVDTitleName</td>
                <td>@StockLeft</td>

            </tr>
        }
    </tbody>
</table>
</div>
</div>
</body>