
@{
    ViewData["Title"] = "AddDVDCopy";
}

<style>
body{
background-image:url("../images/03.jpg");
background-repeat:no-repeat;
background-size:cover;
}

label{
    font-size: 25px;
}
</style>

<h1>AddDVDCopy</h1>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
 Cannot loan DVD as Member is underage
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form action="/Assistant/AddDVDCopy" method="post">
            <div class="form-group">
                 <label> Producer</label>
                 <select id="member" name="member" class="form-control" required>
                        <option value="">Select a Member</option>
                        @foreach (var name in ViewBag.member)
                        {
                            <option value="@name.MembershipNumber">  @name.MembershipFirstName @name.MembershipLastName</option>
                        }
                    </select>
            </div>
            <div class="form-group">
                <label> Category</label>
                 <select id="loantype" name="loantype" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a Category</option>
                        @foreach (var name in ViewBag.loanType)
                        {
                            <option value="@name.LoanTypeNumber">@name.Loan_Type</option>
                        }
                    </select>
            </div>
            <div class="form-group">
                <label> DVD</label>
                 <select id="copynumber" name="copynumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a copyNumber</option>
                        @foreach (var name in ViewBag.dvd)
                        {
                            <option value="@name.dvdcopy.CopyNumber">@name.dvdtitle.DvdTitle</option>
                        }
                    </select>
            </div>
            <div class="form-group">
                <Button type="submit" class="btn btn-primary form-control" >Submit</Button>
            </div>
        </form>

