
@{
    ViewData["Title"] = "GetDateOut";
}

<style>
body{
background-image:url("../images/04.jpg");
background-repeat:no-repeat;
background-size:cover;
/*text-align: center;*/
}

select{
     margin-left: 50%;
}
</style>
<h1 class="text-center" style="font-weight:800; color:white; text-shadow: 0 0 7px black; margin-top: 5px;">View a member by MemberNumber or MemeberLastName and view loaned DVDs within the 31 Days</h1>


<div class="container">
    <form action="@Url.Action("GetDateOut", "Assistant")" method="get">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="ActorSurName" class="control-label"></label>
                    <select id="memberNumber" name="memberNumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a member id</option>
                        @foreach (var member in ViewBag.memberNumbers)
                        {
                            <option value="@member.MembershipNumber"> @member.MembershipNumber - @member.MembershipFirstName</option>
                        }
                    </select>
                </div>
            </div>
                <div class="col-sm">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" style="background-color: #205375; border:#F2D8B3; color: white; height:37px;  margin: 24px 0 0 240px;">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container">
<div class="card" style="background-color:#F5F5F5; opacity:70%;">
<table class="table" style="color:#121212;">
    <thead>
        <tr>
            <th>DVD Title Name</th>
            <th>Copy Number</th>
            <th>Date Out</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.date)
        {
            <tr>
                <td>@item.dvdTitle.DvdTitle</td>
                <td>@item.dvdCopy.CopyNumber</td>
                <td>@item.loan.DateOut</td>

            </tr>
        }
    </tbody>
</table>
</div>
</div>

