@{
    ViewData["Title"] = "GetList";
}
<style>
body{
background-image:url("../images/05.jpg");
background-repeat:no-repeat;
background-size:cover;
}
th{
    color:white;
}
</style>
<body>
<h1 class="text-center" style="font-weight:800; color:white; text-shadow: 0 0 7px black; margin-top: 10px;">List of producers, Studio and Cast members detail</h1>
<br />

<div class="container">
<div class="card" style="background-color:#121212; opacity:70%;">
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>DVD Title</th>
            <th>Date Released</th>
            <th>Producer Name</th>
            <th>Studio Name</th>
            <th>Actor First Name</th>
            <th>Actor Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listProducer)
        {
            <tr>
                <td>@item.dvdTitle.DvdTitle</td>
                <td>@item.dvdTitle.DateReleased</td>
                <td>@item.producer.ProducerName</td>
                <td>@item.studio.StudioName</td>
                <td>@item.actorDetails.ActorFirstName</td>
                <td>@item.actorDetails.ActorSurname</td>

                @*     <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@

            </tr>
        }
    </tbody>
</table>
</div>
</div>
</body>

