
@{
    ViewData["Title"] = "MmemberListNotBorrowed";
}

<style>
    
    body{
            background-color: #FF4CBA;
            /* For browsers that do not support gradients */
            background-image: linear-gradient(#44A08D, #093637);
        }
    </style>

<h1 class="text-center" style="color:white;text-shadow: 0 0 3px black; font-weight:800; margin-top:2% ; margin-bottom: 2%">Members list who have not borrowed any DVD in last 31 days</h1>

 <table class="table" style="color:white;">
            <thead>
                <tr>
                    <th>MembershipFirstName</th>
                    <th>MembershipLastName</th>
                    <th>MembershipAddress</th>
                    <th>Date out of most recent loan</th>
                    <th>Difference</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.details)
                {
            var t = DateTime.Now.ToShortDateString();
            var d = @item.MaxDates;
            var diff = (DateTime.Parse(t) - DateTime.Parse(d)).Days;

            <tr>
                        <td>@item.MembershipFirstName</td>
                        <td>@item.MembershipLastName</td>
                        <td>@item.MembershipAddress</td>
                        <td>@item.MaxDates</td>
                        <td>@diff
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
